<div id="home" class="full-screen-div home">
    <div class="header">
        <h1>Welcome To Home Page</h1>
        <h2>Input Your City or Search By Current Location</h2><br>
    </div>
    <br>
    <a class="logout-label" ng-click="logout()">Logout</a>

    <weathermenu city="{{cityInput}}"></weathermenu>

    <div class="form-style-10">
        <h1 id="search-header">Search<span>Please enter city or search by current location!</span></h1>
        <form>
            <div class="inner-wrap">
                <label>City <input type="text" ng-model="cityInput"></label>
                <div ng-show="currentWeatherInformation.name">
                    <weathertable weather="currentWeatherInformation"></weathertable>
                </div>
                <hr ng-show="currentWeatherInformation.name" size="5">
                <div ng-show="weatherInfoByCurrentLocation.name">
                    <weathertable weather="weatherInfoByCurrentLocation"></weathertable>
                </div>
            </div>
            <button class="btn btn-custom-width" ng-click="getByCity(cityInput)">Search</button>
            <button id="recent-searches" class="btn btn-custom-width" ng-show="!showRecentSearchesFlag && recentSearchesNamesList.length > 0" ng-click='showRecentSearches()'>
                Recent Searches
            </button><br>
            <button class="btn btn-custom-width" ng-show="showRecentSearchesFlag && recentSearchesNamesList.length > 0" ng-click='showRecentSearches()'>
                Hide Recent Searches
            </button>
            <button class="btn btn-custom-width" ng-show="!weatherInfoByCurrentLocation.name" ng-click='getByCurrentPosition()'>Search By Current Position</button>
        </form>
    </div>

    <div id="names-list" class="recent-search-list" ng-show="recentSearchesNamesList.length > 0 && showRecentSearchesFlag">
        <ul>
            <li ng-repeat="name in recentSearchesNamesList track by $index">
                <a class="recent-names-list" ng-click="getByCity(name)">{{name}}</a>
            </li>
        </ul>
    </div>
</div>