
<div class="header">
    <div class="header-table-child">
        <a ng-click="logout()" class="call-to-action">Logout</a>
    </div>

    <div class="header-table-child">
        <h1>Welcome To Weather Application Home Page.</h1>
    </div>
</div>

<div>
    <h3>Input Your City or Search By Current Location</h3><br>

    <input type="text" ng-model='city'><br>

    <button ng-click='getByCity(city)'>Search Weather Information</button><br>
    <button ng-show="!showRecentSearches" ng-click='showRecentSearches = !showRecentSearches'>Show Recent Searches</button>
    <button ng-show="showRecentSearches" ng-click='showRecentSearches = !showRecentSearches'>Hide Recent Searches</button><br>
    <button ng-show="!weatherInfoByCurrentLocation.name" ng-click='getByCurrentPosition()'>Search From Current Position</button>
</div>

<div ng-show="currentWeatherInformation.name">
    <table>
        <tr>
            <th>Name</th>
            <th>Temperature</th>
            <th>Description</th>
            <th>Humidity</th>
            <th>Min_Temperature</th>
            <th>Max_Temperature</th>
        </tr>
        <tr>
            <td>{{currentWeatherInformation.name}},{{currentWeatherInformation.sys.country}}</td>
            <td>{{currentWeatherInformation.main.temp - 273.15 | number:1}} &#8451</td>
            <td ng-show="currentWeatherInformation.weather[0].description">{{currentWeatherInformation.weather[0].description}}</td>
            <td ng-show="!currentWeatherInformation.weather[0].description">No Description for this Location!</td>
            <td>{{currentWeatherInformation.main.humidity}}</td>
            <td>{{currentWeatherInformation.main.temp_min - 273.15 | number:1}} &#8451</td>
            <td>{{currentWeatherInformation.main.temp_max - 273.15 | number:1}} &#8451</td>
        </tr>
    </table>
</div>

<div ng-show="recentSearchesNamesList.length > 0 && showRecentSearches" class="margin-top">
    <ul>
        <li ng-repeat="name in recentSearchesNamesList">
            <p class="recent-names-list" ng-click="getByCity(name)">{{name}}</p>
        </li>
    </ul>
</div>

<div ng-show="weatherInfoByCurrentLocation.name">
    <table align="right">
        <tr>
            <th>Current Location</th>
            <th>Temperature</th>
        </tr>
        <tr>
            <td>{{weatherInfoByCurrentLocation.name}},{{weatherInfoByCurrentLocation.sys.country}}</td>
            <td>{{weatherInfoByCurrentLocation.main.temp - 273.15 | number:1}} &#8451</td>
        </tr>
        <tr>
            <th>Min_Temperature</th>
            <th>Max_Temperature</th>
        </tr>
        <tr>
            <td>{{weatherInfoByCurrentLocation.main.temp_min - 273.15 | number:1}} &#8451</td>
            <td>{{weatherInfoByCurrentLocation.main.temp_max - 273.15 | number:1}} &#8451</td>
        </tr>
        <tr>
            <th colspan="2" ng-show="weatherInfoByCurrentLocation.weather[0].description">
                {{weatherInfoByCurrentLocation.weather[0].description}}
            </th>
            <th ng-show="!weatherInfoByCurrentLocation.weather[0].description">No Description for this Location!</th>
        </tr>
    </table>
</div>