<div>
    <div class="header">
        <h1>Welcome To Weather Application</h1>
    </div>

    <br>
    Username: <input type="text" ng-model="username"><br>
    Password: <input type="password" ng-model="password"><br>
    <nav class="fh5co-nav-style-1" role="navigation" data-offcanvass-position="fh5co-offcanvass-left">
        <div class="container">
            <div class="fh5co-link-wrap">
                <ul class="fh5co-special" data-offcanvass="yes">
                    <li><button class="btn btn-outline" ng-click="loginCtrl.login()">Login</button></li>
                    <li><button class="btn btn-outline" ng-click="loginCtrl.login()">Register</button></li>
                </ul>
            </div>
        </div>
    </nav>
</div>