<div class="full-screen-div login">
    <div class="header">
        <h1>Welcome To Weather Application</h1>
    </div>
    <br>
    <div class="form-style-10">
        <h1>Log In Now!<span>Please Log In and Use our Weather Application</span></h1>
        <form>
            <div class="section">Username &amp; Password</div>
            <div class="inner-wrap">
                <label>Username <input type="text" ng-model="username"></label>
                <label>Password <input type="password" ng-model="password"></label>
            </div>
            <div class="button-section">
                <button class="btn btn-custom-width" ng-click="loginCtrl.login()">Login</button>
                <button class="btn btn-custom-width" ng-click="loginCtrl.register()">Register</button>
            </div>
        </form>
    </div>
</div>